.product {
    border-radius: 5px;
    display: flex;
    padding: 20px;
    background-color: #e2e2f2;

    .left {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .right {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

.breadcrumb {
    list-style-type: none;
    margin-bottom: 15px;
    margin-left: 5px;

    a {
        text-decoration: none;
        padding: 3px;
        background-color: #003;
        border-radius: 3px;
        color: white;

    }

}
