.product {
    border-radius: 5px;
    display: flex;
    padding: 20px;
    background-color: #e2e2f2;

    .left {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .right {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .color-container {
        .color-label {
            display: block;
            margin-top: 1em;

        }
        .product-color-bar {
            display: flex;
            margin-left: 5px;
        }

        .product-color {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
        }

    }
}

.breadcrumb {
    list-style-type: none;
    margin-bottom: 15px;
    margin-left: 5px;

    a {
        text-decoration: none;
        padding: 3px;
        background-color: #003;
        border-radius: 3px;
        color: white;

    }

}
